<div>
 
    <div>
        <p>Enter Player Age</p>
        <input [(ngModel)]="age" type="text">
    </div>
    <div>
        <p>Enter Player Name</p>
        <input [(ngModel)]="name" type="text">
    </div>
    <div>
        <p>Enter TeamId</p>
        <input [(ngModel)]="teamId" type="text">
    </div>
    <div>
        <p>Enter Category</p>
        <input [(ngModel)]="category" type="text">
    </div>
    <div>
        <p>Enter BiddingPrice/p>
        <input [(ngModel)]="biddingPrice" type="text">
    </div>
    <div>
        <button (click)="handleSave()">Save</button>
 
</div>
