<div>
 
    <div>
        <p>Enter Player Age</p>
        <input [(ngModel)]="nme" type="text">
    </div>
    <div>
        <p>Enter Player Name</p>
        <input [(ngModel)]="location" type="text">
    </div>
    <div>
        <p>Enter TeamId</p>
        <input [(ngModel)]="age" type="text">
    </div>
    <div>
        <p>Enter Category</p>
        <input [(ngModel)]="age" type="text">
    </div>
    <div>
        <p>Enter BiddingPrice/p>
        <input [(ngModel)]="age" type="text">
    </div>
    <div>
        <button (click)="handleSave()">Save</button>
 
</div>
