<div class="container jumbotron">
    <table class="table table-striped">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Team ID</th>
        <th>Category</th>
        <th>Bidding Price</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let p of playerdata">
         <td>{{p.id}}</td>
         <td>{{p.name}}</td>
         <td>{{p.age}}</td>
          <td>{{p.teamId }}</td>
         <td>{{p.category}}</td>
         <td>{{p.biddingPrice}}</td>
         <td>
          <li>
            <button>Edit</button>
            <button>Delete</button>
          </li>
         </td>
         <td>
            <a [routerLink]="['/deletePlayer',p.id]">Delete</a>
         </td>
        </tr>
      </tbody>
    </table>
</div>

<li>
  <button>Edit</button>
  <button>Delete</button>
</li>
