<form #playerform="ngForm" (ngSubmit)="editPlayer(playerdata)"></form>
    <div>
        <label for="id" >Player ID:</label>
        <input type="number" id="id" name="id" [(ngModel)]="id" />
        <button type="submit">Submit</button>
    </div>
</form>

<form #editplayerform="ngForm" (ngSubmit)="editPlayerData(playerdata)" >
<div *ngIf="isReady">
    
    <div class="container col-4">
        
            <div class="form-group">
                <label for="id">Age</label>
                <input type="text" id="age" name="age"  [(ngModel)]="playerdata.age">
            </div>
        
        
    </div>

</div>
</form>