<div class="container">
    <div class="jumbotron">
        <h3 style="text-align: center;">Teams</h3>
        <table class="table">
            <thead>
                <tr>

                    <th><b>TeamID</b></th>
                    <th><b>TeamName</b></th>
                    <th><b>Edit Actions</b></th>
                    <th><b>Delete Action</b></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of teamdata">
                    <td>{{m.teamId}}</td>
                    <td>{{m.name}}</td>
                    <td>
                        <input type="submit" id="buttonteamId" (click)="editData(m.teamId)" value="Edit" class="btn btn-primary">
                    </td>
                    <td>
                        <input type="submit" id="deletebutton" (click)="deleteData(m.teamId)" vlaue="Delete" class="btn btn-danger">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
