<input id="username" value="">
<p class="error-message">Username is required.Password is required.Password must include at least one uppercase letter, one lowercase letter, one digit, and one special character.Confirm Password is required Passwords do not match</p>
 
 
    <input id="password" value="Test@123">
    <p class="error-message">Password must include at least one uppercase letter, one lowercase letter, one digit, and one special character</p>
    <input id="confirmPassword" value="differentPassword">
    <p class="error-message">Passwords do not match</p>