<div class="container">
    <div class="jumbotron">
    <h1>Players Listing</h1>
    <table class="table">
        <thead>
            <th>Id</th>
            <br><br>
            <th>Age</th>
            <br><br>
            <th>Name</th>
            <br>
            <th>TeamId</th>
            <br>
            <th>Category</th>
            <br>
            <th>BiddingPrice</th>
        </thead>
        <tbody>
            <tr *ngFor="let m of playerdata">
            <td>{{m.Id}}</td>
            <td>{{m.Age}}</td>
            <td>{{m.Name}}</td>
            <td>{{m.TeamId}}</td>
            <td>{{m.Category}</td>
            <td>{{m.BiddingPrice}</td>
        </tr>
    </tbody>
    </table>
    </div>
</div>
            
        
