<h1>IPL App</h1>
<ul>
    <li>
        <a routerLink="getplayers">Get Players</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br>
      <li>  <a routerLink="addplayers">Add Players</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <br>
      <li><a routerLink="find/:id">Find Players</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <br>
      <li><a routerLink="editplayer/:id">Edit Players</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <br>
      <li><a routerLink="deleteplayer/:id">Delete Players</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <br>
      <li><a routerLink="getTeams">GetTeams</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li><a routerLink="addTeams">Add Teams</a></li> 
      
        
</ul>
<hr>
  <img [src="assets/ipl.jpg"/>
<router-outlet></router-outlet>