ul
{
    display:-webkit-inline-flex
}
h1{
    text-align: center; background-color: crimson; color: floralwhite; height: 1in;
}

.menu-item{
    margin: 10px;
    padding: 10px;
    background-color: darkgrey;
    display: inline-block;
}
.menu-link{
    text-decoration: wavy;
    color: ghostwhite;
}