<h1>IPL App</h1>
<ul>
    <li class="menu-item">
        <a routerLink="getplayers">Get Players</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br>
      <li class="menu-item">  <a routerLink="addplayers">Add Players</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <br>
      <li><a routerLink="find/:id">Find Players</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <br>
      <li><a routerLink="editplayer/:id">Edit Players</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <br>
      <li><a routerLink="deleteplayer/:id">Delete Players</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <br>
      <li><a routerLink="getTeams">GetTeams</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li><a routerLink="addTeams">Add Teams</a></li> 
      
        
</ul>
<hr>
  
<router-outlet></router-outlet>